- if not flash[:notice].blank?
  .alert-message.info
    %a.close{:href => "#"} ×
    %p= flash[:notice]

- if not flash[:error].blank?
  .alert-message.info
    %a.close{:href => "#"} ×
    %p= flash[:error]