/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
　*= require bootstrap
 *= require_self
 *= require_tree . 
*/
body {
	background-color: #eee;
}

.topbar-wrapper {
	margin-bottom: 10px;
}

.topbar {
	position: static;
}

.content {
	background: #fff;
	padding: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	border-radius: 5px;
}

.footer {
  min-width: 940px;
  padding: 30px 0;
}

.footer p {
	text-align: center;
	color: #555;
}

.hidden {
  display: none;
}

.alert-message h2 {
  font-size: 14px;
}

.collection_container {
  padding-top: 5px;
}
.collection_container span {
  margin-right: 10px;
}
.simple_form label.collection_radio, .simple_form label.collection_check_box {
  float: none;
  display: inline;
}

.pagination
{
  clear: both;
}

.ui-dialog {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
}

.ui-dialog-titlebar {
  border-bottom: 1px solid #eee;
  padding: 5px 15px;
}

.ui-dialog-titlebar-close {
  float: right;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.25;
}

.ui-dialog-titlebar-close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
}

.ui-dialog-content {
  padding: 15px;
}
